*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:linear-gradient(135deg,#020b2c,#071a52,#0b1d4f);
  color:#fff;
}

/* NAVBAR */

.navbar{
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(0,0,0,0.35);
  position:fixed;
  top:0;
  z-index:1000;
  backdrop-filter:blur(8px);
}

.logo-section{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo-img{
  width:45px;
}

.logo-text{
  font-family:'Cinzel', serif;
  color:#d4af37;
  font-size:24px;
  font-weight:700;
}

.nav-links a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#d4af37;
}

/* PAGE TITLE */

.page-title{
  padding:160px 10% 80px;
  text-align:center;
}

.page-title h1{
  font-size:60px;
  color:#d4af37;
  font-family:'Cinzel', serif;
  margin-bottom:20px;
}

.page-title p{
  max-width:750px;
  margin:auto;
  line-height:1.8;
  color:#ddd;
}

/* PRODUCTS */

.products{
  padding:20px 8% 100px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.product-card{
  background:rgba(255,255,255,0.05);
  border-radius:20px;
  overflow:hidden;
  border:1px solid rgba(212,175,55,0.2);
  transition:0.4s;
}

.product-card:hover{
  transform:translateY(-8px);
}

.product-card img{
  width:100%;
  height:320px;
  object-fit:cover;
}

.product-info{
  padding:25px;
}

.product-info h2{
  color:#d4af37;
  font-size:24px;
  margin-bottom:10px;
  font-family:'Cinzel', serif;
}

.price{
  font-size:22px;
  font-weight:600;
  margin-bottom:15px;
}

.description{
  color:#ddd;
  line-height:1.7;
  margin-bottom:25px;
}

.buy-btn{
  display:inline-block;
  padding:12px 25px;
  background:#d4af37;
  color:#08152f;
  text-decoration:none;
  border-radius:40px;
  font-weight:600;
  transition:0.3s;
}

.buy-btn:hover{
  background:white;
}

/* FOOTER */

footer{
  text-align:center;
  padding:60px 20px;
  background:#030d24;
}

footer h3{
  font-size:32px;
  color:#d4af37;
  font-family:'Cinzel', serif;
  margin-bottom:10px;
}

.social-links{
  margin:25px 0;
}

.social-links a{
  display:block;
  color:#d4af37;
  text-decoration:none;
  margin:10px 0;
}

.copyright{
  color:#999;
  font-size:13px;
}

/* MOBILE */

@media(max-width:768px){

  .navbar{
    padding:18px 5%;
  }

  .page-title h1{
    font-size:42px;
  }

  .product-card img{
    height:260px;
  }

}
